<h2 class="contact_list">Your Contacts</h2>

<div class="card"><h2><a href="/categories/family">Family</a></h2></div>
<div class="card"><h2><a href="/categories/friends">Friends</a></h2></div>
<div class="card"><h2><a href="/categories/work">Work</h2></a></div>
<div class="card"><h2><a href="/categories/all">All Contacts</a></h2></div>

<p><em>Want to add a new contact? </em> <a href="/new">Add Contact</a></p>

<form action="/signout" method="post">
  <button type="submit" class="signout">Sign out.</button>
</form>
