<h3 class="user_message">Add the contact details below:</h3>

<form action="/new" method="post">
  <div>
    <label for="contact">Name: </label>
    <input type="text" name="contact" value="<%= params[:contact] || ""  %>">
  </div>
  <div>
    <label for="home">Home phone: </label>
    <input type="text" name="home" value="<%= params[:home] || ""  %>">
  </div>
  <div>
    <label for="mobile">Mobile phone: </label>
    <input type="text" name="mobile" value="<%= params[:mobile] || ""  %>">
  </div>
  <div>
    <label for="email">Email address: </label>
    <input type="text" name="email" value="<%= params[:email] || ""  %>">
  </div>
  <p>Please select your contact's category:</p>
  <div>
    <input type="radio" id="family" name="category" value="family">
    <label for="family">Family</label>

    <input type="radio" id="friends" name="category" value="friends" checked>
    <label for="friends">Friend</label>

    <input type="radio" id="work" name="category" value="work">
    <label for="work">Work</label>
  </div>
  <div>
    <button type="submit">Add Contact</button>
  </div>
</form>
