<h3 class="user_message">The username and password for your new account:</h3>

<form action="/signup" method="post">
  <div>
    <label for="username">Username: </label>
    <input type="text" name="username" value="<%= params[:username] || ""  %>">
  </div>
  <div>
    <label for="password">Password: </label>
    <input type="text" name="password" value="<%= params[:password] || ""  %>">
  </div>
  <div>
    <button type="submit">Sign up</button>
  </div>
</form>
